grant codeBase "file:/home/john/Dropbox/Documents/college/cmsc495/PrimeFactorizationClient/build/classes" {
    permission java.security.AllPermission;
};